@charset "utf-8";


/* =Reset default browser CSS.
Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {border: 0;font-family: inherit;font-size: 100%;font-style: inherit;font-weight: inherit;margin: 0;outline: 0;padding: 0;vertical-align: baseline;}
:focus {outline: 0;}

ol, ul {list-style: none;}
table {border-collapse: separate;border-spacing: 0;}
caption, th, td {font-weight: normal;text-align: left;}
blockquote:before, blockquote:after,q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
a img{border: 0;}
figure{margin:0}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
/* -------------------------------------------------------------- */

body{
color:#333;
font:12px verdana,"ヒラギノ丸ゴ ProN W4","Hiragino Maru Gothic ProN","メイリオ","Meiryo","ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
line-height:1.5;
background:#f7f7f7;
-webkit-text-size-adjust: none;
}

html{
}


/* リンク設定
------------------------------------------------------------*/
a{color:#134b88;text-decoration:none;} 
a:hover{color:#2871d7;}
a:active, a:focus{outline:0;}


/* 全体
------------------------------------------------------------*/
#tag{
	position: fixed;
	bottom: 0px;
	left: 5px;
	margin: 5px;
	z-index: 999;
}

.dropdown:hover>.dropdown-menu {
	display: block;
}

#wrapper{
margin:0 auto;
padding:20px 1%;
width:100%;
position:relative;
background:#fff;
overflow:hidden;
}

* html #wrapper{background:#fff;}

.inner{
margin:0 auto;
width:100%;
}


/*************
/* ヘッダー
*************/
h1{
font-size:12px;
line-height:1.6;
font-weight:normal;
}

#header{
overflow:hidden;
padding:0px 0 0;
color:#fff;
background:#134b88;
}

* html #header{height:1%;}


/*************
/* ロゴ
*************/
#header .logo{
float:left;
padding:20px 0;
}

.logo a{
color:#fff;
font-size:20px;
font-weight:bold;
line-height:1;
font-family:"Palatino Linotype", "Book Antiqua", Palatino,"ヒラギノ明朝 Pro W3","Hiragino Mincho Pro","ＭＳ Ｐ明朝","MS PMincho",serif;
}

.logo span{
font-size:12px;
font-weight:normal;
}

.info{
float:right;
padding:20px 0;
}

.tel strong{
font-size:20px;
font-weight:bold;
}

/**************************
/* トップナビゲーション
**************************/
nav#topnav{
clear:both;
overflow:hidden;
margin:0 auto;
background:#134091;
border-radius:5px 5px 0 0;
}

* html nav#topnav{height:1%;}

nav#topnav li{
float:left;
text-align:center;
}

nav#topnav a{
width:156px;
font-size:12px;
display:block;
padding:10px 0;
color:#fff;
line-height:1.2;
border-left:1px solid #2871d7;
}

nav#topnav a span{font-size:9px;}

nav#topnav li:first-child a{border:0;}

nav#topnav li:last-child a{width:155px;}

nav#topnav li.active a,nav#topnav a:hover{background:#2871d7;}


/**************************
/* メイン画像（トップページ+サブページ）
**************************/
#mainBanner{
clear:both;
line-height:0;
background:#134b88;
}

#mainBanner .inner{position:relative;}

#mainBanner img{
max-width:100%;
height:auto;
}

.slogan{
position:absolute;
max-width:100%;
height:auto;
bottom:10px;
left:10px;
padding:5px 10px;
line-height:1.4;
z-index:100;
}

.slogan h1{

font-size:25px;
}

.slogan h2{
padding-bottom:5px;
font-size:23px;
}

.slogan h3{
font-size:14px;
}


/**************************
/* グリッド
**************************/
.gridWrapper{
padding-bottom:20px;
clear:both;
overflow:hidden;
}

* html .gridWrapper{height:1%;}
	
.grid{
float:left;
padding-bottom:10px;
border:1px solid #dbdbdb;
border-radius:5px 5px 0 0;
}

.grid h3{
padding:5px;
font-size:13px;
color:#fff;
text-align:center;
border-radius:5px 5px 0 0;
background:#134091;
}

.grid p{
padding:10px 10px 0;
}

.grid ul{margin:5px 10px 3px;}

.grid li{
padding:5px 0 4px;
border-bottom:1px solid #ccc;
}

.grid li:first-child{border-top:0;}
.grid li:last-child{border-bottom:0;}

.gridWrapper img{
max-width:100%;
height:auto;
}

/* フッター内のグリッド(3カラム) */
#footer .grid{
color:#fff;
border:0;
background:transparent;
}

#footer .col3 ul{margin:0 0 10px 5px;}

#footer .col3 li{
padding:0 7px 0 5px;
margin-bottom:3px;
list-style:none;
border-bottom:0;
display:inline-block;
border:0;
border-right:1px solid #fff;
}


/*************
メイン コンテンツ
*************/
section.content{
margin-bottom:10px;
font-size:14px;
overflow:hidden;
}

section.content h1{
	font-size: 20px;
}

section.content h2{
	font-size: 15px;
}

section.content center{
	font-size: 40px;
}

.youtube {
	position: relative;
	width: 100%;
	padding-top: 56.25%;
}
.youtube iframe {
	position: absolute;
	top: 0;
	right: 0;
	width: 100% !important;
	height: 100% !important;
}

* html section.content{height:1%;}

section.content p{margin-bottom:5px;}

h3.heading{
padding:5px 10px;
margin-bottom:10px;
font-size:large;
color:#fff;
background:#134091;
border-radius:4px;
}



.alignleft{
float:left;
clear:left;
margin:3px 10px 10px 1px;
}

.alignright{
float:right;
clear:right;
margin:3px 1px 10px 10px;
}

img.frame,#gallery img{
border:1px solid #333;
}

#gallery .gridWrapper{padding:0;}
#gallery .grid{border:0;}

#research-content .list-inline-item {
	border-left: 5px solid #2871d7;		
}

#Professor a{
	font-size:20px;
	color: black;
	text-decoration:none;
}
#Professor a:hover{color:#2871d7;}
#Professor a:active, a:focus{outline:0;}


.list-inline-item {
	display: inline-block;
	padding:5px 10px;
	margin-bottom:10px;
	font-size:large;
	color:#fff;
	background:#134091;
	border-radius:4px;
		
}

.list-inline-item a{color:#fff;text-decoration:none;}
.list-inline-item a:hover{color:#2871d7;}
.list-inline-item a:active, .list-inline-item a:focus{outline:0;}

#research-content .list-inline {
    margin-top: -10px;
	background-color: #fff;
		
}

/* */


/*************
テーブル
*************/
table.table{
border-collapse:collapse;
width:100%;
margin:10px auto;
font-size: 14px;
}

table.table th,table.table td{
padding:5px;
border:1px solid #2871d7;
}

table.table tr:first-child th,table.table tr:first-child td{
border-top:#2871d7 4px solid
}

.red-word {
    color: #ff7979;
}


table.table th{
font-weight:bold;
letter-spacing:1px;
white-space:nowrap;
color:#fff;
background:#134091;
}




/*************
/* フッター
*************/
#footer .inner{
clear:both;
margin-bottom:20px;
padding:20px 0;
overflow:hidden;
background:#134091;
border-radius:0 0 10px 10px;
}

* html #footer{height:1%;}

#footer a{color:#fff;}

#footer .copyright{font-size:11px;}

/* PC用 */
@media only screen and (min-width:960px){
	#wrapper,.inner,nav#topnav{
	width:940px;
	padding:0;
	}
	
	#wrapper{padding:20px 0;}
	
	#main{
	float:right;
	width:680px;
	padding-right:10px;
	}
	
	#subpage #sub{
	float:left;
	width:235px;
	overflow:hidden;
	}
	
	/* グリッド */
	.gridWrapper{
	width:954px;
	margin-left:-14px;
	padding:0 9px 20px;
	}
	.grid{width:218px;margin:0 0 0 14px;}
	.col2{width:452px;}
	.col3{width:682px;}
	
	#gallery .gridWrapper{width:694px;}
	#gallery .grid{width:217px;}
	#subpage #sub .grid{
	float:none;
	margin-bottom:30px;
	}
	
}


/* モニター幅960px以下 */
@media only screen and (max-width:960px){
	h1{padding:0 1%;width:98%}
	#header .logo{padding-left:10px;}
	#header .info{padding-right:10px;}
	
	nav#topnav{
	clear:both;
	width:100%;
	border-radius:0;
	}

	nav#topnav li{
	width:33%;
	border-right:1px solid #2871d7;
	border-bottom:1px solid #2871d7;
	box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
	}

	nav#topnav li:nth-child(3n){border-right:0;width:34%;}

	nav#topnav li a{
	width:100%;
	border:0;
	}

	nav#topnav li:first-child a,nav#topnav li:last-child a{width:100%;}
	
	.grid{
	width:45%;
	margin:2px 2% 10px;
	}
	
	.col2{
	float:none;
	width:94%;
	margin:0 2% 20px;
	}
	
	.grid img{
	float:left;
	margin-right:5px;
	}
	
	#gallery .grid{
	width:31%;
	margin:0 1%;
	padding:0;
	}
	
	#gallery .grid img{
	float:none;
	}
	
	section.content{padding:0 10px;}
	
	section.content img{
  max-width:90%;
	height:auto;
	}
	
	#sub .grid{padding-bottom:20px;}
	#subpage #sub .grid{
	float:none;
	margin:0 auto 20px;
	width:98%;
	}
	
	#footer{padding:0;}
	
	#footer .grid{
	float:none;
	width:100%;
	margin-bottom:5px;
	text-align:center;
	}
}


/* スマートフォン 横(ランドスケープ) */
@media only screen and (max-width:640px){
	.grid img{
	float:none;
	margin:20px auto 10px;
	}
	
	.grid p{text-align:left;}
	
	img.frame,#gallery img{border-width:2px;}

  .alignleft,.alignright{
	float:none;
	display:block;
	margin:0 auto 10px;
	}
	
	#footer .grid p{text-align:center;}
}


/* スマートフォン 縦(ポートレート) */
@media only screen and (max-width:480px){
	#header .logo{padding-top:10px;}
  .info{padding:10px 0;}
	nav#topnav li{width:50%;}

	nav#topnav li:nth-child(3n){
	border-right:1px solid #2871d7;
	width:50%;
	}	
	nav#topnav li:nth-child(2n),nav#topnav li:nth-child(6n){border-right:0;}
	
	
	#mainBanner h1, #mainBanner h2,#mainBanner h3{font-size:90%;}
	
	.grid{width:96%;}

	h3.heading{
		padding:5px 10px;
		margin-bottom:10px;
		font-size:17px;
		color:#fff;
		background:#134091;
		border-radius:4px;
	}
	
	
}

@media only screen and (max-width:375px){
	#header .logo{padding-top:10px;}
  .info{padding:10px 0;}
	nav#topnav li{width:50%;}

	nav#topnav li:nth-child(3n){
	border-right:1px solid #2871d7;
	width:50%;
	}	
	nav#topnav li:nth-child(2n),nav#topnav li:nth-child(6n){border-right:0;}
	
	
	#mainBanner h1, #mainBanner h2,#mainBanner h3{font-size:90%;}
	
	.grid{width:96%;}

	table.table{
		border-collapse:collapse;
		margin:10px auto;
		font-size: 12px;
	}

	
}